doctype html
html
	head
		include ../meta/head
		script.
			if (!window.localStorage.getItem("token")) {
				window.location.href = "index.html";
			}
	body
		include ../components/header
		.main-wrapper
			.container-xl
				.profile
					include ../components/home/profile-card
					.post-btn.btn.btn-info.fw-bold.text-light Post
				main 
					include ../components/home/new-post-box
					.posts
						.post(data-id=1)
							.header
								include ../components/profile-icon
								.name-and-username
									.name Ahmed Reda
									//- .username.text-muted @ahmedreda1009
									.time.text-muted 2 min ago
								i.fa-solid.fa-ellipsis
							.text This is the first post in planet.
							.image
								img(src=require('../../assets/post.jpg') decoding="async")
							//- .tags-comments
							//- 	.tags
							//- 		.tag sports
							//- 		.tag Entertainment
							.comments
								.comments-wrapper
									.comments-number(data-bs-toggle="collapse" href="#comments-number-1" role="button" aria-expanded="false" aria-controls="comments-number")
										span 5
										i.fa-regular.fa-message
									.make-comment(type="button" data-bs-toggle="collapse" data-bs-target="#make-comment-1" aria-expanded="false" aria-controls="make-comment")
										i.fa-regular.fa-message
										span Comment
								#make-comment-1.collapse
									.card.card-body
										include ../components/profile-icon
										input#new-comment(type="text", name="comment" placeholder="Write a comment...")
										i.fa-solid.fa-circle-right
								#comments-number-1.collapse
									.card.card-body
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
						.post(data-id=2)
							.header
								include ../components/profile-icon
								.name-and-username
									.name Ahmed Reda
									//- .username.text-muted @ahmedreda1009
									.time.text-muted 2 min ago
								i.fa-solid.fa-ellipsis
							.text This is the first post in planet.
							//- .image
							//- 	img(src=require('../../assets/post.jpg'))
							//- .tags-comments
							//- 	.tags
							//- 		.tag sports
							//- 		.tag Entertainment
							.comments
								.comments-wrapper
									.comments-number(data-bs-toggle="collapse" href="#comments-number-2" role="button" aria-expanded="false" aria-controls="comments-number")
										span 5
										i.fa-regular.fa-message
									.make-comment(type="button" data-bs-toggle="collapse" data-bs-target="#make-comment-2" aria-expanded="false" aria-controls="make-comment")
										i.fa-regular.fa-message
										span Comment
								#make-comment-2.collapse
									.card.card-body
										include ../components/profile-icon
										input#new-comment(type="text", name="comment" placeholder="Write a comment...")
										i.fa-solid.fa-circle-right
								#comments-number-2.collapse
									.card.card-body
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
						.post(data-id=3)
							.header
								include ../components/profile-icon
								.name-and-username
									.name Ahmed Reda
									//- .username.text-muted @ahmedreda1009
									.time.text-muted 2 min ago
								i.fa-solid.fa-ellipsis
							.text This is the first post in planet.
							.image
								img(src=require('../../assets/post.jpg') decoding="async")
							//- .tags-comments
								//- .tags
								//- 	.tag sports
								//- 	.tag Entertainment
							.comments
								.comments-wrapper
									.comments-number(data-bs-toggle="collapse" href="#comments-number-3" role="button" aria-expanded="false" aria-controls="comments-number")
										span 5
										i.fa-regular.fa-message
									.make-comment(type="button" data-bs-toggle="collapse" data-bs-target="#make-comment-3" aria-expanded="false" aria-controls="make-comment")
										i.fa-regular.fa-message
										span Comment
								#make-comment-3.collapse
									.card.card-body
										include ../components/profile-icon
										input#new-comment(type="text", name="comment" placeholder="Write a comment...")
										i.fa-solid.fa-circle-right
								#comments-number-3.collapse
									.card.card-body
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
						.post(data-id=4)
							.header
								include ../components/profile-icon
								.name-and-username
									.name Ahmed Reda
									//- .username.text-muted @ahmedreda1009
									.time.text-muted 2 min ago
								i.fa-solid.fa-ellipsis
							.text This is the first post in planet.
							.image
								img(src=require('../../assets/post.jpg') decoding="async")
							//- .tags-comments
							//- 	.tags
							//- 		.tag sports
							//- 		.tag Entertainment
							.comments
								.comments-wrapper
									.comments-number(data-bs-toggle="collapse" href="#comments-number-4" role="button" aria-expanded="false" aria-controls="comments-number")
										span 5
										i.fa-regular.fa-message
									.make-comment(type="button" data-bs-toggle="collapse" data-bs-target="#make-comment-4" aria-expanded="false" aria-controls="make-comment")
										i.fa-regular.fa-message
										span Comment
								#make-comment-4.collapse
									.card.card-body
										include ../components/profile-icon
										input#new-comment(type="text", name="comment" placeholder="Write a comment...")
										i.fa-solid.fa-circle-right
								#comments-number-4.collapse
									.card.card-body
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
						.post(data-id=5)
							.header
								include ../components/profile-icon
								.name-and-username
									.name Ahmed Reda
									//- .username.text-muted @ahmedreda1009
									.time.text-muted 2 min ago
								i.fa-solid.fa-ellipsis
							.text This is the first post in planet.
							.image
								img(src=require('../../assets/post.jpg') decoding="async")
							//- .tags-comments
							//- 	.tags
							//- 		.tag sports
							//- 		.tag Entertainment
							.comments
								.comments-wrapper
									.comments-number(data-bs-toggle="collapse" href="#comments-number-5" role="button" aria-expanded="false" aria-controls="comments-number")
										span 5
										i.fa-regular.fa-message
									.make-comment(type="button" data-bs-toggle="collapse" data-bs-target="#make-comment-5" aria-expanded="false" aria-controls="make-comment")
										i.fa-regular.fa-message
										span Comment
								#make-comment-5.collapse
									.card.card-body
										include ../components/profile-icon
										input#new-comment(type="text", name="comment" placeholder="Write a comment...")
										i.fa-solid.fa-circle-right
								#comments-number-5.collapse
									.card.card-body
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
						.post(data-id=6)
							.header
								include ../components/profile-icon
								.name-and-username
									.name Ahmed Reda
									//- .username.text-muted @ahmedreda1009
									.time.text-muted 2 min ago
								i.fa-solid.fa-ellipsis
							.text This is the first post in planet.
							.image
								img(src=require('../../assets/post.jpg') decoding="async")
							//- .tags-comments
							//- 	.tags
							//- 		.tag sports
							//- 		.tag Entertainment
							.comments
								.comments-wrapper
									.comments-number(data-bs-toggle="collapse" href="#comments-number-6" role="button" aria-expanded="false" aria-controls="comments-number")
										span 5
										i.fa-regular.fa-message
									.make-comment(type="button" data-bs-toggle="collapse" data-bs-target="#make-comment-6" aria-expanded="false" aria-controls="make-comment")
										i.fa-regular.fa-message
										span Comment
								#make-comment-6.collapse
									.card.card-body
										include ../components/profile-icon
										input#new-comment(type="text", name="comment" placeholder="Write a comment...")
										i.fa-solid.fa-circle-right
								#comments-number-6.collapse
									.card.card-body
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
						.post(data-id=7)
							.header
								include ../components/profile-icon
								.name-and-username
									.name Ahmed Reda
									//- .username.text-muted @ahmedreda1009
									.time.text-muted 2 min ago
								i.fa-solid.fa-ellipsis
							.text This is the first post in planet.
							.image
								img(src=require('../../assets/post.jpg') decoding="async")
							//- .tags-comments
							//- 	.tags
							//- 		.tag sports
							//- 		.tag Entertainment
							.comments
								.comments-wrapper
									.comments-number(data-bs-toggle="collapse" href="#comments-number-7" role="button" aria-expanded="false" aria-controls="comments-number")
										span 5
										i.fa-regular.fa-message
									.make-comment(type="button" data-bs-toggle="collapse" data-bs-target="#make-comment-7" aria-expanded="false" aria-controls="make-comment")
										i.fa-regular.fa-message
										span Comment
								#make-comment-7.collapse
									.card.card-body
										include ../components/profile-icon
										input#new-comment(type="text", name="comment" placeholder="Write a comment...")
										i.fa-solid.fa-circle-right
								#comments-number-7.collapse
									.card.card-body
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
						.post(data-id=8)
							.header
								include ../components/profile-icon
								.name-and-username
									.name Ahmed Reda
									//- .username.text-muted @ahmedreda1009
									.time.text-muted 2 min ago
								i.fa-solid.fa-ellipsis
							.text This is the first post in planet.
							.image
								img(src=require('../../assets/post.jpg') decoding="async")
							//- .tags-comments
							//- 	.tags
							//- 		.tag sports
							//- 		.tag Entertainment
							.comments
								.comments-wrapper
									.comments-number(data-bs-toggle="collapse" href="#comments-number-8" role="button" aria-expanded="false" aria-controls="comments-number")
										span 5
										i.fa-regular.fa-message
									.make-comment(type="button" data-bs-toggle="collapse" data-bs-target="#make-comment-8" aria-expanded="false" aria-controls="make-comment")
										i.fa-regular.fa-message
										span Comment
								#make-comment-8.collapse
									.card.card-body
										include ../components/profile-icon
										input#new-comment(type="text", name="comment" placeholder="Write a comment...")
										i.fa-solid.fa-circle-right
								#comments-number-8.collapse
									.card.card-body
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
						.post(data-id=9)
							.header
								include ../components/profile-icon
								.name-and-username
									.name Ahmed Reda
									//- .username.text-muted @ahmedreda1009
									.time.text-muted 2 min ago
								i.fa-solid.fa-ellipsis
							.text This is the first post in planet.
							.image
								img(src=require('../../assets/post.jpg') decoding="async")
							//- .tags-comments
							//- 	.tags
							//- 		.tag sports
							//- 		.tag Entertainment
							.comments
								.comments-wrapper
									.comments-number(data-bs-toggle="collapse" href="#comments-number-9" role="button" aria-expanded="false" aria-controls="comments-number")
										span 5
										i.fa-regular.fa-message
									.make-comment(type="button" data-bs-toggle="collapse" data-bs-target="#make-comment-9" aria-expanded="false" aria-controls="make-comment")
										i.fa-regular.fa-message
										span Comment
								#make-comment-9.collapse
									.card.card-body
										include ../components/profile-icon
										input#new-comment(type="text", name="comment" placeholder="Write a comment...")
										i.fa-solid.fa-circle-right
								#comments-number-9.collapse
									.card.card-body
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
										.comment
											include ../components/profile-icon
											.comment-content This is comment.
				include ../components/home/tags
		.icons
			//- i.home.active.fa-solid.fa-house
			i.fa-solid.fa-earth-americas
			i.profile.fa-solid.fa-user
			i.tags.fa-solid.fa-hashtag
			i.post-icon.fa-solid.fa-pen
			i.logout.fa-solid.fa-right-from-bracket